<div class="careers global-parameters" fxLayout="row">
  <div class="careers__info info" fxLayout="column" fxFlex="70%">
    <div class="careers__title" fxLayout="row">Hello from the web-site</div>
    <div class="careers__subtitle" fxLayout="row">Read it, you will be thrilled <br>to hear our story and who we are</div>
    <div class="careers__text" fxLayout="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus asperiores assumenda eligendi eveniet ex, explicabo magni maiores,
        molestias quod saepe sequi similique sint voluptate.
        Beatae consectetur cum dignissimos maxime molestiae nihil quo vitae!
        Dolore dolorum, error exercitationem facere facilis molestiae molestias odit possimus sapiente voluptas.
        Accusamus at culpa, error esse est in labore libero nobis officia, officiis quia quidem soluta ullam velit voluptatum?
        Adipisci doloremque obcaecati perspiciatis.
        A alias autem debitis deleniti dolorum ducimus, est eum ex ipsa labore natus quaerat quibusdam sapiente temporibus totam ut vel vero!
        Atque, blanditiis dolores ex fugit nulla numquam perferendis quae qui tenetur totam.
      </p>
    </div>
    <div class="info__variants-cooperation" fxLayout="column">
      <h3>What are the options for cooperation with us?</h3>
      <ul class="info__variants-cooperation list">
        <li class="list__item">You can sell your artwork with us</li>
        <li class="list__item">You can send a stream of people to us using your referral link and get paid for it</li>
        <li class="list__item">You can search for artists who are ready to sell their paintings and get paid for this too.</li>
      </ul>
    </div>
    <div class="info__button" fxLayout="row">
      <button class="info__button btn button-middle-complete" routerLink="/">Write to email</button>
    </div>
  </div>
  <div class="careers__picture picture" fxLayout="column" fxFlex="30%">
  </div>
</div>
