<div class="footer global-parameters" fxLayout="row" fxLayoutAlign="space-between">
  <div class="footer-column" fxLayout="column">
    <div class="footer-column__get-in-touch">
      <h3>Get in touch</h3>
      <ul class="list">
        <li class="list__item"><a [routerLink]="['/about-us']">About Us</a></li>
        <li class="list__item"><a [routerLink]="['/careers']">Careers</a></li>
        <li class="list__item"><a href="">Press Release</a></li>
        <li class="list__item"><a href="">Blog</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-column" fxLayout="column">
    <div class="footer-column__connecting">
      <h3>Connecting</h3>
      <ul class="list">
        <li class="list__item"><a href="">Facebook</a></li>
        <li class="list__item"><a href="">Twitter</a></li>
        <li class="list__item"><a href="">YouTube</a></li>
        <li class="list__item"><a href="">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-column" fxLayout="column">
    <div class="footer-column__earning">
      <h3>Earning</h3>
      <ul class="list">
        <li class="list__item"><a href="">Become an Affiliate</a></li>
        <li class="list__item"><a href="">Advertise your product</a></li>
        <li class="list__item"><a href="">Sell on Market</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-column" fxLayout="column">
    <div class="footer-column__account">
      <h3>Account</h3>
      <ul class="list">
        <li class="list__item"><a href="">Your account</a></li>
        <li class="list__item"><a href="">Returns center</a></li>
        <li class="list__item"><a href="">100% purchase protection</a></li>
        <li class="list__item"><a href="">Chat with us</a></li>
        <li class="list__item"><a href="">Help</a></li>
      </ul>
    </div>
  </div>
</div>
