<div class="menu">
  <div class="menu-row" fxLayoutAlign="space-between" fxLayout="row">
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
    <div class="menu-column" fxLayout="column">
      <select name="" id="" class="menu-column__selector">
        <option value="" selected>Все категории</option>
      </select>
    </div>
  </div>
</div>
